sqlparse==0.5.0
Django==5.0.4
gunicorn==22.0.0
pillow==10.3.0
whitenoise==6.6.0
decouple==0.0.7
django-allauth==64.0.0
django-debug-toolbar==4.4.6
requests==2.31.0
PyJWT==2.8.0
crispy-bootstrap4==2024.1
cryptography==42.0.7