{% extends "dashboard/base.html" %}

{% load static %}
{% block content %}

<style>


  #billboard {
    background-color: #fff; /* Arrière-plan blanc */
}

.text-dark {
    color: #000 !important; /* Titres noirs */
}

 .text-white {
    color: #fff !important; /* Texte blanc */
}

  .mosaic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjusted min width for smaller screens */
    gap: 10px;
}

.mosaic-item {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1; /* Ensure square aspect ratio */
}

.mosaic-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mosaic-item .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mosaic-item:hover .overlay {
    opacity: 1;
}

.mosaic-item h3, .mosaic-item p, .mosaic-item a {
    margin: 0;
    padding: 5px 0;
}

.mosaic-item a {
    color: #fff;
    text-decoration: none;
    background: #df24f4;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 10px;
}

.mosaic-item a:hover {
    background: #fff;
    color: #000;
}
.divider {
  height: 10px; /* Épaisseur de la ligne */
  background-color: #ffc0cb; /* Couleur de la ligne */
  margin: 20px 0; /* Espace autour de la ligne */
}

/* Ensure proper grid layout on smaller devices */
@media (max-width: 576px) {
    .mosaic-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}




</style>


<section id="billboard" class="overflow-hidden" style="background-color: #171515;">
  <div class="swiper main-swiper">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="banner-content padding-large">
                              <p class="text-white">Bienvenue chez Haya Beauty, votre espace de bien etre pour une expérience exceptionnelle. Nous offrons des services de coiffure, beauté des mains et des pieds dans un cadre relaxant et convivial. Faites confiance à notre équipe de prpofessionnels expérimentés pour vous sublimer.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="swiper-pagination position-absolute"></div>
</section>

  

<div class="divider"></div>


  <section id="about-us" style="background-color: #171515;">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-between g-5">
        <div class="col-lg-6">
          <div class="image-holder mb-4 jarallax">
              <img src="{% static 'images/Haya_fly.jpg' %}" alt="single" class="img-fluid jarallax-img" style="width: 0.5px;">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="detail p-5">
            <div class="display-header">
              <h2 class="display-2 text-uppercase text-dark pb-2 text-white">Notre Salon</h2>
              <p class="pb-3 text-white">Haya Beauty est un havre de pain dédidé à votre beauté et à votre bien-etre. L'institut vous propose une gamme complète de soins et de presattions:
                <ul class="text-white">
                  <li>Onglerie</li>
                  <li>Beauté des mains et des pieds</li>
                  <li>Maquillage</li>
                  <li>Coiffure</li>
                </ul>
              </p>
              <p class="text-white"><a href="{% url 'reservation_page' %}" class="text-white"> Rendez-Vous</a> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="divider"></div>

  <section id="collections" class="position-relative padding-large" style="background-color: #171515;">
    <div class="container-fluid">
        <div class="row">
            <h2 class="display-2 text-uppercase text-dark pb-2 text-white">Nos Prestations</h2>
            <div class="mosaic-grid">
                <div class="mosaic-item">
                    <img src="{% static 'images/coiffure_dos.jpeg' %}" alt="Coiffures">
                    <div class="overlay">
                        <h3>Coiffure</h3>
                        <p></p>
                        <a href="{% url 'reservation_page' %}" class="btn btn-normal mt-3">Reserver</a>
                    </div>
                </div>
                <div class="mosaic-item">
                    <img src="{% static 'images/oeil.jpeg' %}" alt="Maquillage">
                    <div class="overlay">
                        <h3>Maquillage</h3>
                        <p></p>
                        <a href="{% url 'reservation_page' %}" class="btn btn-normal mt-3">Reserver</a>
                    </div>
                </div>
                <div class="mosaic-item">
                    <img src="{% static 'images/Manicure.jpeg' %}" alt="Manicure">
                    <div class="overlay">
                        <h3>Manicure</h3>
                        <p></p>
                        <a href="{% url 'reservation_page' %}" class="btn btn-normal mt-3">Reserver</a>
                    </div>
                </div>
                <div class="mosaic-item">
                    <img src="{% static 'images/Pédicure_H.jpeg' %}" alt="Pédicure">
                    <div class="overlay">
                        <h3>Pédicure</h3>
                        <p></p>
                        <a href="{% url 'reservation_page' %}" class="btn btn-normal mt-3">Reserver</a>
                    </div>
                </div>
                <!-- Additional items... -->
            </div>
        </div>
    </div>
</section>

<div class="divider"></div>

  
  <section class="contact" id="contact" style="background-color: #171515;">
    <div class="container">
      <div class="row">
        <!-- Google Map Section -->
        <div class="col-lg-6">
          <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3858.3100774982504!2d-17.466925!3d14.751552499999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec10d68503f5ef5%3A0x63435340235a0552!2sHA.YA%20Beauty%20institut!5e0!3m2!1sfr!2ssn!4v1721395615869!5m2!1sfr!2ssn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <!-- Contact Form Section -->
        <div class="col-lg-6">
          <div class="contact-form-container">
            <h2 class="display-4">Contactez-nous</h2>
            <form id="contact-form">
              <div class="form-group">
                <input type="text" name="name" placeholder="Votre nom" class="form-control">
              </div>
              <div class="form-group">
                <input type="email" name="email" placeholder="Votre email" class="form-control">
              </div>
              <div class="form-group">
                <textarea name="message" placeholder="Votre message" class="form-control"></textarea>
              </div>
              <button type="submit" class="btn btn-full btn-black text-uppercase">Envoyer</button>
            </form>
            <div class="social-icons">
                <a href="https://www.instagram.com/ha.ya__beauty221?igsh=bHNwM2l3enN3M2Rt"><i class="fab fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@ha.ya_beauty221?_t=8o9PQWJ3JNG&_r=1"><i class="fab fa-tiktok"></i></a>
                <a href="https://wa.me/+221787534405"><i class="fab fa-whatsapp"></i></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  

<script>
  $(document).ready(function() {
    $('#contact-form').on('submit', function(e) {
      e.preventDefault();

      $.ajax({
        url: '{% url "contact" %}',  // Assurez-vous que l'URL est correcte
        type: 'POST',
        data: {
          name: $('input[name="name"]').val(),
          email: $('input[name="email"]').val(),
          message: $('textarea[name="message"]').val(),
          csrfmiddlewaretoken: '{{ csrf_token }}'  // Inclure le token CSRF
        },
        success: function(response) {
          if (response.success) {
            alert(response.message);  // Message de confirmation
            $('#contact-form')[0].reset();  // Réinitialiser le formulaire
          } else {
            alert('Erreur lors de l\'envoi du message.');
          }
        },
        error: function() {
          alert('Une erreur s\'est produite. Veuillez réessayer plus tard.');
        }
      });
    });
  });
</script>



<style>

    .contact {
        padding: 4em 0;
        background-color: #020202;
      }
      
      .map-container {
        margin-bottom: 2em;
      }
      
      .contact-form-container {
        background: #fff;
        padding: 2em;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      
      .contact-form-container h2 {
        margin-bottom: 1.5em;
      }
      
      .form-group {
        margin-bottom: 1.5em;
      }
      
      .form-control {
        width: 100%;
        padding: 0.75em;
        border: 1px solid #ddd;
        border-radius: 5px;
        background: #f9f9f9;
        transition: all 0.3s;
      }
      
      .form-control:focus {
        border-color: #787d62;
        background: #fff;
      }
      
      .social-icons {
        margin-top: 1.5em;
        text-align: center;
      }
      
      .social-icons a {
        margin: 0 0.5em;
        color: #787d62;
        font-size: 1.5em;
        transition: color 0.3s;
      }
      
      .social-icons a:hover {
        color: #0d0d0d;
      }
      
      .btn-full {
        display: block;
        width: 100%;
        padding: 1em;
        background-color: #e84db7;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        transition: background-color 0.3s;
      }
      
      .btn-full:hover {
        background-color: #787d62;
      }
      
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
    }
    .content {
        flex: 1;
    }
    .footer {
        background-color: #f1f1f1;
        padding: 20px;
        text-align: center;
    }

      
</style>  
  

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
<script>
  function initMap() {
    var location = {lat: -34.397, lng: 150.644};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: location
    });
    var marker = new google.maps.Marker({
      position: location,
      map: map
    });
  }
</script>


<div class="footer">
  &copy; 2024 All rights deserve by @HayaBeatyea
</div>


{% endblock  %}