{% extends "dashboard/base.html" %}

{% load static %}
{% block content %}


<section id="billboard" class="overflow-hidden" style="background-color: rgb(238, 154, 168);">
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="banner-item" style="background-image: url({% static 'images/bmage.jpg' %}); background-repeat: no-repeat; background-position: right; height: 682px;">
                  <div class="banner-content padding-large">
                    <h2 class="display-1 text-uppercase text-dark pb-2">Haya Beauty</h2>
                    <p>Bienvenue chez Haya Beauty, votre destination de confiance pour une expérience de beauté exceptionnelle. Nous offrons des services de coiffure, de soins de la peau et de bien-être dans un cadre élégant et relaxant. Laissez notre équipe de professionnels expérimentés sublimer votre beauté naturelle avec des soins personnalisés adaptés à vos besoins.</p>                      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination position-absolute"></div>
  </section>
  



  <section id="about-us">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-between g-5">
        <div class="col-lg-6">
          <div class="image-holder mb-4 jarallax">
              <img src="{% static 'images/Haya_fly.jpg' %}" alt="single" class="img-fluid jarallax-img" style="width: 0.5px;">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="detail p-5">
            <div class="display-header">
              <h2 class="display-2 text-uppercase text-dark pb-2">Notre Salon</h2>
              <p class="pb-3">Haya Beauty est un salon de coiffure pour femme qui prose divers servcies outre la coiffure. Haya Beauty c'est une équipe de professionnel devouée pour la satisfaction du client</p>
              <p>Chez Haya Beauty nous n'en ressortirez pas la meme !!!. </p>
              
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 

  <section id="testimonials" class="position-relative">
    <div class="container">
      <div class="row">
        <div class="review-content position-relative">
          <div class="swiper-icon swiper-arrow swiper-arrow-prev position-absolute d-flex align-items-center justify-content-center">
            <svg class="icon-arrow" width="25" height="25">
              <use xlink:href="#arrow-left" />
            </svg>
          </div>
          <div class="swiper testimonial-swiper">
            <div class="quotation text-center">
              <svg class="quote">
                <use xlink:href="#quote" />
              </svg>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide text-center d-flex justify-content-center">
                <div class="review-item col-md-10">
                  <i class="icon icon-review"></i>
                  <blockquote class="fs-4">“Dans le reflet d'un miroir, une histoire se dessine,
                    Un éclat de lumière, une grâce divine.
                    Chaque mèche de cheveux, chaque sourire délicat,
                    Révèle une beauté unique qui touche en plein cœur.”</blockquote>
                  <div class="author-detail">
                    <div class="name text-primary text-uppercase pt-2">Mym</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide text-center d-flex justify-content-center">
                <div class="review-item col-md-10">
                  <i class="icon icon-review"></i>
                  <blockquote class="fs-4">“La femme, étoile de l'univers, lumière dans la nuit,
                    Sa beauté rayonne, douce comme un fruit.
                    Un charme envoûtant, un éclat éblouissant,
                    Elle est une muse, une source d'inspiration.
                    Chez Haya Beauty, nous chérissons cette splendeur,
                    Avec amour et soin, nous honorons cette grandeur.
                    Pour que chaque femme, à travers nos mains,
                    Puisse révéler sa beauté, comme un trésor ancien.”</blockquote>
                  <div class="author-detail">
                    <div class="name text-primary text-uppercase pt-2">Hatone </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-icon swiper-arrow swiper-arrow-next position-absolute d-flex align-items-center justify-content-center">
            <svg class="icon-arrow" width="25" height="25">
              <use xlink:href="#arrow-right" />
            </svg>
          </div>
        </div>
      </div>
    </div>      
    <div class="swiper-pagination text-center position-absolute"></div>
  </section>

  <section id="collections" class="position-relative padding-large">
    <div class="container-fluid">
      <div class="row">
        <div class="swiper collection-swiper">
          <h2 class="display-2 text-uppercase text-dark pb-2">Nos Prestations</h2>

          <div class="swiper-wrapper">
            <div class="swiper-slide overflow-hidden">
              <div class="product-card">
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="shop.html">Coiffures</a>
                  </h3>
                </div>
                <div class="image-overlay position-relative">
                  <div class="product-image">
                    <img src="{% static 'images/Ba_coiffures.jpg' %}" alt="product-item" class="product-image img-fluid" style="height: 477px;">
                    <div class="text-box box-slide position-absolute">
                      <div class="text-content p-5 bg-light">
                        <h3>A propos de la coiffure</h3>
                        <p>Vnez vous faire belle chez Haya Beauty  </p>
                        <ul>

                        </ul>
                        <a href="{% url 'reservation_page' %}" class="btn btn-normal mt-3">Reserver</a>
                      </div>
                    </div>
                  </div>
                </div>                  
              </div>
            </div>
            <div class="swiper-slide overflow-hidden">
              <div class="product-card">
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="shop.html">Maquillage</a>
                  </h3>
                </div>
                <div class="image-overlay position-relative">
                  <div class="product-image">
                    <img src="{% static 'images/maquillage.jpg' %}" alt="product-item" class="product-image img-fluid" style="height: 477px;">

                    <div class="text-box box-slide position-absolute">
                      <div class="text-content p-5 bg-light">
                        <h3>A propos du maquillage</h3>
                        <p>Osez rever et nous le réaliserons, venez béneficier d'un maquillage professionnel et attractif pour vous embellir</p>
                        <ul>

                        </ul>
                        <a href="{% url 'reservation_page' %}" class="btn btn-normal mt-3">Reserver</a>
                      </div>
                    </div>
                  </div>
                <!-- product-image -->
                </div>                  
              </div>
            </div>
            <div class="swiper-slide overflow-hidden">
              <div class="product-card">
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="shop.html">Manicure</a>
                  </h3>
                </div>
                <div class="image-overlay position-relative">
                  <div class="product-image">
                    <img src="{% static 'images/doight.jpg' %}" alt="product-item" class="product-image img-fluid" style="height: 477px;">

                    <div class="text-box box-slide position-absolute">
                      <div class="text-content p-5 bg-light">
                        <h3>A propos de la manicure</h3>
                        <p>Découvrez la délicatesse de nso experts qui peuvent faire des miracle</p>
                        <ul>

                        </ul>
                        <a href="{% url 'reservation_page' %}" class="btn btn-normal mt-3">Reserver</a>
                      </div>
                    </div>
                  </div>
                <!-- product-image -->
                </div>                  
              </div>
            </div>
            <div class="swiper-slide overflow-hidden">
              <div class="product-card">
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="shop.html">Pédicure</a>
                  </h3>
                </div>
                <div class="image-overlay position-relative">
                  <div class="product-image">
                    <img src="{% static 'images/pédicure.jpg' %}" alt="product-item" class="product-image img-fluid" style="height: 477px;">

                    <div class="text-box box-slide position-absolute">
                      <div class="text-content p-5 bg-light">
                        <h3>A propos de la Pédicure</h3>
                        <p>Venez rendre vos pieds brillants et attractifs chez Haya Beauty avec nos experts</p>
                        <ul>

                        </ul>
                        <a href="{% url 'reservation_page' %}" class="btn btn-normal mt-3">Reserver</a>
                      </div>
                    </div>
                  </div>
                </div>                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
  </section>

  <section id="featured-products" class="product-store position-relative padding-large">
    <div class="container-fluid">
      <div class="row">
        <div class="display-header pb-3 d-flex justify-content-between flex-wrap col-md-12">
          <h2 class="display-2 text-dark text-uppercase">Coiffures Phares</h2> 
          <a href="shop.html" class="btn btn-medium btn-arrow btn-normal position-relative">
            <svg class="arrow-right position-absolute" width="18" height="20">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="row">
        <div id="featured-swiper" class="product-swiper col-md-12">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="product-card image-zoom-effect link-effect d-flex flex-wrap">
                  <div class="image-holder">
                    <img src="{% static 'images/locks.jpg' %}" alt="product-item" class="product-image img-fluid" style="height: 480px;">
                  </div>
                  <div class="cart-concern">
                    <h3 class="card-title text-uppercase pt-3 text-primary">
                      <a href="single-product.html" class="text-primary">Les Locks </a>
                    </h3>
                    <div class="cart-info">
                      <a class="pseudo-text-effect" href="{% url 'reservation_page' %}" data-after="Reserver"><span>Prix</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card image-zoom-effect link-effect d-flex flex-wrap">
                  <div class="image-holder">
                    <img src="{% static 'images/mèche_oh.jpg' %}" alt="product-item" class="product-image img-fluid" style="height: 480px;">
                  </div>
                  <div class="cart-concern">
                    <h3 class="card-title text-uppercase pt-3 text-primary">
                      <a href="single-product.html" class="text-primary">Les mèches</a>
                    </h3>
                    <div class="cart-info">
                      <a class="pseudo-text-effect" href="{% url 'reservation_page' %}" data-after="Reserver">
                        <span>Prix</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card image-zoom-effect link-effect d-flex flex-wrap">
                  <div class="image-holder">
                    <img src="{% static 'images/meche.jpg' %}" alt="product-item" class="product-image img-fluid" style="height: 480px;">
                  </div>
                  <div class="cart-concern">
                    <h3 class="card-title text-uppercase pt-3 text-primary">
                      <a href="single-product.html" class="text-primary">Gros bébé</a>
                    </h3>
                    <div class="cart-info">
                      <a class="pseudo-text-effect" href="{% url 'reservation_page' %}" data-after="Reserver">
                        <span>Prix</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card image-zoom-effect link-effect d-flex flex-wrap">
                  <div class="image-holder">
                    <img src="{% static 'images/jolie_mèche.jpg' %}" alt="product-item" class="product-image img-fluid" style="height: 480px;">
                  </div>
                  <div class="cart-concern">
                    <h3 class="card-title text-uppercase pt-3 text-primary">
                      <a href="single-product.html" class="text-primary">Mèches Multicolors</a>
                    </h3>
                    <div class="cart-info">
                      <a class="pseudo-text-effect" href="{% url 'reservation_page' %}" data-after="Reserver">
                        <span>Prix</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card image-zoom-effect link-effect d-flex flex-wrap">
                  <div class="image-holder">
                    <img src="{% static 'images/gros_bb.jpg' %}" alt="product-item" class="product-image img-fluid" style="height: 480px;">
                  </div>
                  <div class="cart-concern">
                    <h3 class="card-title text-uppercase pt-3 text-primary">
                      <a href="single-product.html" class="text-primary">Nattes</a>
                    </h3>
                    <div class="cart-info">
                      <a class="pseudo-text-effect" href="{% url 'reservation_page' %}" data-after="Reserver">
                        <span>Prix</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card image-zoom-effect link-effect d-flex flex-wrap">
                  <div class="image-holder">
                    <img src="{% static 'images/natt.jpg' %}" alt="product-item" class="product-image img-fluid" style="height: 480px;">
                  </div>
                  <div class="cart-concern">
                    <h3 class="card-title text-uppercase pt-3 text-primary">
                      <a href="single-product.html" class="text-primary">Gros mèches</a>
                    </h3>
                    <div class="cart-info">
                      <a class="pseudo-text-effect" href="{% url 'reservation_page' %}" data-after="Faire une reservation">
                        <span>Prix</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination text-center mt-5"></div>
        </div>
      </div>
    </div>      
  </section>

  
  <section class="contact">
    <div class="container">
      <div class="row">
        <!-- Google Map Section -->
        <div class="col-lg-6">
          <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3858.3100774982504!2d-17.466925!3d14.751552499999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec10d68503f5ef5%3A0x63435340235a0552!2sHA.YA%20Beauty%20institut!5e0!3m2!1sfr!2ssn!4v1721395615869!5m2!1sfr!2ssn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <!-- Contact Form Section -->
        <div class="col-lg-6">
          <div class="contact-form-container">
            <h2 class="display-4">Contactez-nous</h2>
            <form id="contact-form">
              <div class="form-group">
                <input type="text" name="name" placeholder="Votre nom" class="form-control">
              </div>
              <div class="form-group">
                <input type="email" name="email" placeholder="Votre email" class="form-control">
              </div>
              <div class="form-group">
                <textarea name="message" placeholder="Votre message" class="form-control"></textarea>
              </div>
              <button type="submit" class="btn btn-full btn-black text-uppercase">Envoyer</button>
            </form>
            <div class="social-icons">
                <a href="https://www.instagram.com/ha.ya__beauty221?igsh=bHNwM2l3enN3M2Rt"><i class="fab fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@ha.ya_beauty221?_t=8o9PQWJ3JNG&_r=1"><i class="fab fa-tiktok"></i></a>
                <a href="https://wa.me/+221787534405"><i class="fab fa-whatsapp"></i></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  


<style>

    .contact {
        padding: 4em 0;
        background-color: #f6f5f2;
      }
      
      .map-container {
        margin-bottom: 2em;
      }
      
      .contact-form-container {
        background: #fff;
        padding: 2em;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      
      .contact-form-container h2 {
        margin-bottom: 1.5em;
      }
      
      .form-group {
        margin-bottom: 1.5em;
      }
      
      .form-control {
        width: 100%;
        padding: 0.75em;
        border: 1px solid #ddd;
        border-radius: 5px;
        background: #f9f9f9;
        transition: all 0.3s;
      }
      
      .form-control:focus {
        border-color: #787d62;
        background: #fff;
      }
      
      .social-icons {
        margin-top: 1.5em;
        text-align: center;
      }
      
      .social-icons a {
        margin: 0 0.5em;
        color: #787d62;
        font-size: 1.5em;
        transition: color 0.3s;
      }
      
      .social-icons a:hover {
        color: #0d0d0d;
      }
      
      .btn-full {
        display: block;
        width: 100%;
        padding: 1em;
        background-color: #0d0d0d;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        transition: background-color 0.3s;
      }
      
      .btn-full:hover {
        background-color: #787d62;
      }
      
      
</style>  
  

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
<script>
  function initMap() {
    var location = {lat: -34.397, lng: 150.644};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: location
    });
    var marker = new google.maps.Marker({
      position: location,
      map: map
    });
  }
</script>



{% endblock  %}